.accordion-item {
    color: var(--bs-accordion-color);
    background: none;
    border: none !important;
    /* border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); */
}
.categories_page_categories-2 .content .accordion .accordion-item .accordion-header .accordion-button {
    padding: 35px 20px;
    background-color: var(--theme-accordion-bg-color);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.accordion-button::after {
    display: none;
}
.categories_page_categories-2 .content .accordion .accordion-item .accordion-header .accordion-button .column span {
    color: var(--theme-font-color);
    font-family: Roboto Medium, sans-serif;
    font-size: 2rem;
    padding-left: 10px;
    text-shadow:2px 2px 4px rgb(0 0 0 / 67%);
}
 .cardContent{
     margin-bottom: 15px;
     border-radius: 20px;
     background: #ffffffcf;
     border: none;
     box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
 }
.addToCardButton {
    position: absolute;
    right: -17px;
    top: -11px;
    background: none;
    border: none;
    transition: 0.3s;
    color: var(--theme-product-button-color);
}
/*.addToCardButton svg{
    color: var(--theme-product-button-color);
}*/
.calorieAre {
    position: absolute;
    left: 12px !important;
    top: -10px !important;
    background: var(--theme-background-color);
    font-size: 11px !important;
    padding: 5px;
    color: var(--theme-font-color);
    border-radius: 7px !important;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.ts-wrapper.single .ts-control, .ts-wrapper.single .ts-control input {
    cursor: pointer;
    border-radius: 10px;
}
.waiter .summary {
    margin: 10px auto;
    border-radius: 10px;
    background: white;
    padding: 15px;
}

.waiter .summary .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-bottom: 1px dashed #94939385;
    padding-bottom: 10px;
}

.waiter .summary .item .title {
    color: #757575
}
.waiter .summary .item .quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #e0483d;
    border: 1px solid #adacac85;
    border-radius: 12px;
    padding: 5px;
}
.waiter .summary .subtotal {
    margin-top: 15px;
}
.waiter .summary .item .quantity span {
    font-size: 1rem;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background: #e0483d14;
    border-radius: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.waiter .summary .item .price {
    color: #949494
}

.waiter .summary .subtotal .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto
}

.waiter .summary .subtotal .middle {
    margin-bottom: 10px
}

.waiter .summary .subtotal .middle p {
    display: flex;
    justify-content: space-between
}

.waiter .summary .subtotal .dere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #94939385;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.waiter .summary .subtotal .bottomsaws {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
}

.waiter .summary .subtotal .bottomsaws p {
    color: #e0483d;
    font-weight: 700
}
.waiter{
    padding: 15px;
    padding-bottom: 90px;
}
.footer .callWaiter .middle .formItem input{
    width: 100%;
    background: none;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    outline: 0px;
    min-width: 200px;
}

.footer .callTaxi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    background-color: #fff;
    padding: 30px;
    bottom: -500px;
    left: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: bottom .5s ease;
    z-index: 1052;
}.footer .callTaxiShow {
     bottom: 0 !important;
 }
.footer .callTaxi .plate {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}
.footer .callTaxi .close-button-taxi {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
}
.footer .callTaxi .top p {
    text-align: center;
    color: #000;
    padding: 0 30px;
    margin: 40px auto auto;
}
.footer .callTaxi .middle {
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 700;
}
.footer .callTaxi .middle .formItem input {
    width: 100%;
    background: none;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    outline: 0px;
    min-width: 200px;
}
.footer .callTaxi a button {
    width: 100%;
    background-color: #e0483d;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: Roboto Black, sans-serif;
}
.btn-copy {
    background-color: var(--theme-background-color);
    outline: 0px;
    color: var(--theme-font-color);
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
}
.pointArea{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.star-rating {
    direction: rtl;
    display: inline-flex;
    justify-content: end;
}
.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 2em;
    color: lightgray;
    cursor: pointer;
}
.star-rating input:checked ~ label {
    color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
.confirmButton{
    font-size: 15px;
    background: var(--theme-product-button-color);
    color: var(--theme-font-color);
    border: none;
    min-width: 150px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}
